=image_tag @post.image.url( :medium )
%p= @post.title
%p= @post.link
%p= @post.description
%p= @post.user.name

=link_to like_post_path( @post ), method: :put, class: 'btn btn-default btn-sm' do
  %i.fa.fa-thumbs-o-up{ aria:{ hidden:'true' } }
  like #{@post.get_upvotes.size}
=link_to dislike_post_path( @post ), method: :put, class: 'btn btn-default btn-sm' do
  %i.fa.fa-thumbs-o-down{ aria:{ hidden:'true' } }
  dislike #{@post.get_downvotes.size}

#comment
  %h2.comment_count= pluralize( @post.comments.size, 'Comment' )
  =render @post.comments

  =simple_form_for [@post, @post.comments.new] do |f|
    =f.input :content, label: 'Reply to a thread', placeholder: 'Whadday say?'
    =f.button :submit

-if current_user == @post.user
  =link_to 'Edit', [:edit, @post]
  =link_to 'Delete', @post, method: :delete, data:{ confirm:'Heads up! Delete?' }
=link_to 'Home', posts_path
